<html>

<head th:fragment="head">
	<meta charset="UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Escritório</h1>
	<form th:action="@{/notaryOffice/create}" th:object="${notaryOfficeDTO}" method="POST" class="card-body">
		<div class="mb-3">
			<label for="name">Nome </label>
			<input name="name" th:field="*{name}" />
		</div>
		<div class="mb-3">
			<label for="email">E-mail </label>
			<input name="email" th:field="*{email}" />
		</div>
		<div class="mb-3">
			<label for="phone">Telefone </label>
			<input name="phone" th:field="*{phone}" />
		</div>
		<div class="mb-3">
			<label for="street">Rua </label>
			<input name="street" th:field="*{street}" />
		</div>
		<div class="mb-3">
			<label for="city">Cidade </label>
			<input name="city" th:field="*{city}" />
		</div>
		<div class="mb-3">
			<label for="country">Pais </label>
			<input name="country" th:field="*{country}" />
		</div>
		<div class="mb-3">
			<label>Certificados </label>
			<select name="certificates" th:field="*{certificateName}">
				<option th:each="certificate: ${certificates}" th:value="${certificate.nome}"
					th:text="${certificate.nome}" selected />
			</select>
		</div>
		<button type="submit">Cadastrar</button>
	</form>
</body>

</html>